@media (max-width: 1399px) {
  /* line 2, media.scss */
  .one-cont__one-img {
    width: 530px;
    height: 400px;
    top: 100px;
  }

  /* line 8, media.scss */
  .control-block {
    padding: 40px 15px;
  }

  /* line 12, media.scss */
  .one-cont__one-img .slick-slide {
    height: 400px !important;
  }

  /* line 16, media.scss */
  .one-cont__title {
    font-size: 40px;
    line-height: 48px;
  }

  /* line 21, media.scss */
  .one-cont__one-left {
    padding-left: 65px;
    padding-top: 50px;
    height: 450px;
  }

  /* line 27, media.scss */
  .control-item__item,
  .summary-block__item {
    margin-bottom: 10px;
  }

  /* line 32, media.scss */
  .one-cont {
    min-height: auto;
    padding-bottom: 100px;
  }

  /* line 37, media.scss */
  .one-cont__link {
    height: 70px;
  }

  /* line 41, media.scss */
  .one-cont__text {
    margin: 40px 0;
  }

  /* line 45, media.scss */
  .header-cont__entrancelink {
    padding: 12px 20px;
  }

  /* line 49, media.scss */
  .container {
    padding: 0 65px;
  }

  /* line 53, media.scss */
  .one-section .container {
    padding: 0;
  }

  /* line 57, media.scss */
  .two-cont {
    padding: 60px 0 100px;
  }

  /* line 61, media.scss */
  .two-cont__title,
  .four-cont__title,
  .five-cont__title,
  .six-cont .block-question__title,
  .six-cont__quest {
    font-size: 32px;
    line-height: 37px;
    margin-bottom: 40px;
    text-align: center;
  }

  /* line 72, media.scss */
  .two-cont__item-sentence:nth-child(1),
  .two-cont__item-sentence:nth-child(3),
  .two-cont__item-sentence:nth-child(5) {
    margin-left: 0;
  }

  /* line 78, media.scss */
  .two-cont__item-sentence:nth-child(4) {
    margin-left: 40px;
  }

  /* line 82, media.scss */
  .three-cont {
    padding: 80px 0;
  }

  /* line 86, media.scss */
  .three-cont__item-three {
    width: 420px;
    height: 410px;
    background-size: 100% 100%;
  }

  /* line 92, media.scss */
  .three-cont__item-three:last-child {
    background-size: 100% 100%;
  }

  /* line 96, media.scss */
  .four-cont__verification-block {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  /* line 101, media.scss */
  .four-cont__verification-item:nth-child(2) {
    margin-left: 30px;
  }

  /* line 105, media.scss */
  .four-cont__verification-item:nth-child(3) {
    margin-top: 30px;
    margin-right: 30px;
  }

  /* line 110, media.scss */
  .four-cont,
  .five-cont {
    padding: 60px 0 80px;
  }

  /* line 115, media.scss */
  .five-cont__slider-block {
    width: 660px;
  }

  /* line 119, media.scss */
  .six-cont__block-question {
    width: 100%;
  }

  /* line 123, media.scss */
  .six-cont {
    padding-top: 80px;
    padding-bottom: 80px;
  }

  /* line 128, media.scss */
  .six-cont__block-question {
    height: 300px;
    margin-bottom: 80px;
  }

  /* line 133, media.scss */
  .six-cont .block-question__link {
    margin-top: 0;
  }

  /* line 137, media.scss */
  .footer-cont {
    height: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 40px 0;
  }

  /* line 143, media.scss */
  .footer-cont__link-block {
    margin: 30px 0;
  }

  /* line 147, media.scss */
  .header-cont__entrance-block.employer {
    display: none;
  }

  /* line 151, media.scss */
  .question-cont .block-quest .block-aues .block-quest__title-block,
  .question-cont .block-quest__item-page {
    width: 46%;
  }

  /* line 155, media.scss */
  .question-cont {
    padding: 50px 15px;
  }

  /* line 159, media.scss */
  .question-cont .block-quest {
    width: 100%;
  }

  /* line 163, media.scss */
  .question-cont .block-quest .quest-item__quest .text {
    width: 100%;
    max-width: 450px;
  }

  /* line 168, media.scss */
  .kandidat-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .package-str .container {
    padding: 0 30px;
  }

  .new8-price {
    font-size: 20px;
    line-height: 24px;
  }

  .new8-text {
    font-size: 14px;
  }
}
@media (max-width: 1169px) {
  /* line 175, media.scss */
  .header-cont__entrance-block.reg {
    display: none;
  }

  /* line 179, media.scss */
  .expand {
    height: 270px !important;
  }

  /* line 183, media.scss */
  .question-cont .block-quest .quest-item__quest .text {
    font-size: 18px;
    line-height: 24px;
    max-width: 300px;
  }

  /* line 189, media.scss */
  .question-cont .block-quest .quest-item__quest {
    padding: 0 15px;
  }

  .about-cont__title {
    font-size: 35px;
    line-height: 45px;
  }

  .about-cont__text {
    font-size: 18px;
    line-height: 25px;
  }

  .instruction-item__text2 {
    font-size: 18px;
  }

  .package-item {
    width: 40%;
  }

  .left-new7 {
    width: 50%;
  }
}
@media (max-width: 1090px) {
  /* line 196, media.scss */
  .container {
    padding: 0 40px;
  }

  /* line 200, media.scss */
  .burger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  /* line 204, media.scss */
  .mob-menu {
    display: none;
    position: absolute;
    top: 80px;
    left: 0;
    width: 100%;
    height: auto;
    padding: 30px 0;
    z-index: 70;
    background: #fff;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  /* line 216, media.scss */
  .mob-menu .header-cont__services-link {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  /* line 222, media.scss */
  .mob-menu .header-cont__language {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 30px;
  }
  /* line 230, media.scss */
  .mob-menu .language-text {
    width: 100%;
    margin-bottom: 10px;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #2F2F2F;
  }
  /* line 239, media.scss */
  .mob-menu .header-cont__servlink:first-child {
    margin-right: 0;
    margin-bottom: 16px;
  }
  /* line 244, media.scss */
  .mob-menu .header-cont__entrancelink {
    width: 290px;
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    height: 44px;
    font-size: 14px;
    line-height: 14px;
  }
  /* line 255, media.scss */
  .mob-menu .header-cont__entrancelink:first-child {
    margin-bottom: 10px;
  }
  /* line 259, media.scss */
  .mob-menu .header-cont__entrance-block {
    display: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  /* line 265, media.scss */
  .header-cont__services-link.desctop,
  .header-cont__language.desctop {
    display: none;
  }

  /* line 270, media.scss */
  .header-cont__services-link.reg,
  .header-cont__language.reg {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  /* line 275, media.scss */
  .b-left__link {
    width: 50px;
    height: 44px;
    margin-right: 15px;
  }

  /* line 281, media.scss */
  .header-cont {
    height: 80px;
    padding: 0 40px;
    -webkit-box-shadow: 0px 0px 60px rgba(0, 0, 0, 0.08);
    box-shadow: 0px 0px 60px rgba(0, 0, 0, 0.08);
  }

  /* line 287, media.scss */
  .header .container {
    padding: 0;
  }

  /* line 291, media.scss */
  .header-cont__logo {
    width: 150px;
    height: 48px;
  }
  /* line 295, media.scss */
  .header-cont__logo img {
    width: 100%;
    height: 100%;
    -o-object-fit: contain;
    object-fit: contain;
  }

  /* line 302, media.scss */
  .header-cont__entrancelink {
    padding: 12px 35px;
  }

  /* line 306, media.scss */
  .one-cont__one-right {
    display: none;
  }

  /* line 310, media.scss */
  .one-cont__one-left {
    width: 100%;
    height: auto;
    padding-left: 0;
    padding: 0 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  /* line 320, media.scss */
  .one-cont__title {
    max-width: 650px;
    text-align: center;
  }

  /* line 325, media.scss */
  .two-cont__item-sentence {
    width: 324px;
    height: 340px;
    margin-bottom: 60px;
  }

  /* line 331, media.scss */
  .two-cont__info-block {
    width: 305px;
    height: 150px;
    bottom: -20px;
    padding-left: 20px;
  }

  /* line 338, media.scss */
  .two-cont .info-block__text {
    font-size: 14px;
  }

  /* line 342, media.scss */
  .two-cont .info-block__title {
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 10px;
  }

  /* line 348, media.scss */
  .three-cont {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  /* line 352, media.scss */
  .three-cont__item-three {
    width: 100%;
    height: 410px;
    margin-right: 0;
    margin-bottom: 40px;
    background-size: auto;
  }

  /* line 360, media.scss */
  .three-cont__item-three:last-child {
    margin-bottom: 0;
    background-size: auto;
  }

  /* line 365, media.scss */
  .three-cont__title {
    font-size: 32px;
    line-height: 37px;
    margin-bottom: 30px;
  }

  /* line 371, media.scss */
  .three-cont .text-block__text {
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 24px;
  }

  /* line 377, media.scss */
  .three-cont__img-block {
    height: 145px;
  }
  /* line 380, media.scss */
  .three-cont__img-block img {
    height: 100%;
  }

  /* line 385, media.scss */
  .three-cont__link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0;
    width: 245px;
    height: 60px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  /* line 394, media.scss */
  .four-cont__block-img {
    width: 324px;
  }

  /* line 398, media.scss */
  .five-cont__slider-block {
    width: 550px;
  }

  /* line 402, media.scss */
  .five-cont__img-block {
    margin-right: 30px;
  }

  /* line 406, media.scss */
  .five-cont__item-slider {
    margin-right: 0 !important;
    margin: 0 20px !important;
  }

  /* line 411, media.scss */
  .slick-next {
    right: -65px;
  }

  /* line 414, media.scss */
  .slick-prev {
    left: -65px;
  }

  /* line 418, media.scss */
  .footer-cont__link-block {
    max-width: 370px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    margin-bottom: 10px;
  }

  /* line 426, media.scss */
  .footer-cont .link-block__link {
    display: block;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    margin-right: 0;
    margin-bottom: 20px;
  }

  /* line 433, media.scss */
  .footer-cont .link-block__link:last-child {
    margin-right: 0;
  }

  /* line 437, media.scss */
  .question-cont .block-quest__item-page {
    width: 100%;
  }

  /* line 441, media.scss */
  .question-cont .block-quest__quest-item {
    margin-bottom: 20px;
  }

  /* line 445, media.scss */
  .question-cont .block-quest .quest-item__quest {
    height: 75px;
  }

  /* line 449, media.scss */
  .question-cont .block-quest .quest-item__quest .text {
    max-width: 80%;
  }

  /* line 453, media.scss */
  .prem-cont .card-form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  /* line 457, media.scss */
  .prem-cont .card-block {
    width: 100%;
    margin-right: 0;
  }

  /* line 462, media.scss */
  .prem-cont .info-block {
    width: 100%;
  }

  /* line 466, media.scss */
  .prem-cont .card-block .card-check.one {
    width: 100%;
  }

  /* line 470, media.scss */
  .prem-cont .card-block .card-check {
    width: 100%;
  }

  /* line 474, media.scss */
  .prem-cont .card-block .card-check .text-login01 {
    max-width: 85%;
  }

  /* line 478, media.scss */
  .prem-cont .card-form button {
    max-width: 290px;
    margin-bottom: 30px;
  }

  /* line 483, media.scss */
  .prem-cont__link-block {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-bottom: 50px;
  }

  /* line 488, media.scss */
  .prem-cont__link {
    margin-bottom: 10px;
  }

  /* line 492, media.scss */
  .popap-one__quest-block {
    width: 45%;
    padding: 15px;
  }

  /* line 497, media.scss */
  .popap-one .quest-block__link {
    width: 100%;
  }

  /* line 501, media.scss */
  .popap-two .block-item__item.four {
    display: none;
  }

  /* line 505, media.scss */
  .popap-two .block-item__item {
    margin-right: 0;
    margin: 0 10px 20px;
  }

  /* line 510, media.scss */
  .popap-two .block-item {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  /* line 515, media.scss */
  .popap-two {
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
  }

  /* line 519, media.scss */
  .popap-two__link {
    margin-bottom: 40px;
  }

  .new8-block-text {
    max-height: 45px;
  }

  .new8-block-text {
    font-size: 18px;
    padding: 0 5px;
  }

  .item8-title {
    font-size: 20px;
  }

  .new8-title2 {
    font-size: 24px;
  }
}
@media (max-width: 992px) {
  /* line 525, media.scss */
  .profil-rabotnika .block-five {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  /* line 529, media.scss */
  .profil-rabotnika .block-five .five-left {
    max-width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  /* line 536, media.scss */
  .profil-rabotnika .block-five .five-item {
    width: 100%;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
  }
  /* line 539, media.scss */
  .profil-rabotnika .block-five .five-item:nth-child(odd) {
    margin-right: 10px;
  }

  .instruction-item {
    width: 100%;
  }

  .new4-item {
    width: 40%;
  }

  .new6-li p, .new6-item-text {
    font-size: 14px;
  }

  .new6-cont .new6-title-text {
    font-size: 22px;
  }

  .left-new7 {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .new7-item {
    width: 30%;
  }

  .new7-right {
    margin: 20px auto 0;
  }

  .form-block-input.two {
    width: 100%;
  }
}
@media (max-width: 870px) {
  /* line 546, media.scss */
  .reg-one .block-text {
    width: 100%;
  }

  /* line 550, media.scss */
  .reg-two {
    padding: 40px;
  }

  /* line 554, media.scss */
  .reg-two .history-block {
    margin-bottom: 35px;
  }

  /* line 558, media.scss */
  .finish-block {
    margin: 0 auto;
    height: 600px;
    background: url(../img/form-icon/end-bg.png) no-repeat center 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  /* line 566, media.scss */
  .finish-block::before {
    top: auto;
    bottom: 0;
    width: 100%;
    height: 150px;
  }

  /* line 574, media.scss */
  .header-cont__services-link.employer,
  .header-cont__language.employer {
    display: none;
  }

  /* line 579, media.scss */
  .burger-two.employer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: 40px;
  }

  /* line 584, media.scss */
  .mob-menu.reg .header-cont__entrance-block.employer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  /* line 589, media.scss */
  .mob-menu.reg .exit-mob {
    left: auto;
    right: 40px;
  }

  /* line 595, media.scss */
  .sentence-block {
    width: 100%;
  }
}
@media (max-width: 768px) {
  /* line 601, media.scss */
  .container {
    padding: 0 15px;
  }

  /* line 605, media.scss */
  .header-cont__services-link.reg,
  .header-cont__language.reg {
    display: none;
  }

  /* line 610, media.scss */
  .burger-two {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  /* line 614, media.scss */
  .mob-menu.reg .exit-mob {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    left: auto;
    right: 15px;
  }

  /* line 620, media.scss */
  .header-cont__entrance-block.desctop {
    display: none;
  }

  /* line 624, media.scss */
  .vhod {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  /* line 628, media.scss */
  .mob-menu .header-cont__entrance-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  /* line 632, media.scss */
  .mob-menu .header-cont__entrancelink:first-child {
    margin-right: 0;
  }

  /* line 636, media.scss */
  .header-cont__logo {
    width: 130px;
    height: 40px;
  }

  /* line 641, media.scss */
  .header-cont {
    padding: 0 15px;
    height: 70px;
  }

  /* line 646, media.scss */
  .mob-menu {
    top: 70px;
  }

  /* line 650, media.scss */
  .exit-mob {
    left: 15px;
    width: 35px;
  }

  /* line 655, media.scss */
  .one-cont__title {
    font-size: 24px;
    line-height: 30px;
    max-width: 90%;
  }

  /* line 661, media.scss */
  .one-cont__text,
  .reg-one__text {
    font-size: 14px;
    line-height: 18px;
    margin-top: 24px;
    margin-bottom: 24px;
    width: 90%;
  }

  .instruction-cont__title {
    font-size: 24px;
    line-height: 30px;
    margin-bottom: 20px;
  }

  .instruction-cont__text {
    font-size: 16px;
  }

  /* line 670, media.scss */
  .one-cont__one-left {
    padding: 0 15px;
  }

  /* line 674, media.scss */
  .one-cont__link {
    width: 210px;
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    height: 56px;
    font-size: 14px;
    line-height: 24px;
  }
  /* line 684, media.scss */
  .one-cont__link img {
    width: 25px;
    margin-left: 10px;
  }

  /* line 690, media.scss */
  .two-cont__title,
  .four-cont__title,
  .five-cont__title,
  .six-cont .block-question__title,
  .six-cont__quest {
    font-size: 22px;
    line-height: 28px;
    text-align: left;
  }

  /* line 700, media.scss */
  .two-cont {
    padding: 40px 0 50px;
  }

  /* line 707, media.scss */
  .two-cont__sentence-block .slick-slide {
    margin-right: 15px !important;
  }

  /* line 712, media.scss */
  .three-section .container {
    padding: 0;
  }

  /* line 716, media.scss */
  .three-cont__item-three,
  .three-cont__item-three:last-child {
    padding-left: 20px;
    height: 320px;
  }

  /* line 722, media.scss */
  .three-cont__title {
    font-size: 22px;
    line-height: 28px;
    margin-bottom: 20px;
  }

  /* line 728, media.scss */
  .three-cont .text-block__text {
    font-size: 14px;
    line-height: 18px;
    margin-bottom: 16px;
    max-width: 165px;
  }

  /* line 735, media.scss */
  .three-cont__link {
    width: 185px;
    height: 48px;
    font-size: 14px;
    line-height: 14px;
  }

  /* line 742, media.scss */
  .three-cont__img-block {
    height: 120px;
  }

  /* line 746, media.scss */
  .three-cont {
    padding: 50px 0;
  }

  /* line 750, media.scss */
  .four-cont {
    padding: 40px 0 50px 15px;
  }

  /* line 754, media.scss */
  .five-cont {
    padding: 30px 0 35px;
  }

  /* line 758, media.scss */
  .five-cont__title,
  .six-cont .block-question__title {
    text-align: center;
  }

  /* line 763, media.scss */
  .five-cont__slider-block {
    width: 240px;
  }

  /* line 767, media.scss */
  .five-cont__item-slider {
    padding: 20px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin: 0 10px !important;
  }

  /* line 773, media.scss */
  .five-cont__img-block {
    width: 64px;
    height: 64px;
    border-radius: 50%;
    overflow: hidden;
  }

  /* line 780, media.scss */
  .six-cont .block-question__block-link {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  /* line 784, media.scss */
  .six-cont .block-question__link.one {
    margin-right: 0;
    margin-bottom: 15px;
  }

  /* line 789, media.scss */
  .six-cont__link {
    width: 280px;
    height: 48px;
    font-size: 14px;
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    line-height: 16px;
  }

  /* line 800, media.scss */
  .six-cont__quest {
    text-align: center;
    margin-bottom: 24px;
  }

  /* line 805, media.scss */
  .six-cont {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  /* line 810, media.scss */
  .six-cont__text {
    font-size: 14px;
    line-height: 18px;
    margin-bottom: 24px;
    max-width: 290px;
  }

  /* line 817, media.scss */
  .reg-cont,
  .map-cont,
  .phone-cont {
    width: 100%;
    background: #fff;
    padding: 40px 15px;
  }

  /* line 825, media.scss */
  .reg-block,
  .map-block,
  .block-phone {
    padding: 0;
    background: transparent;
  }

  /* line 832, media.scss */
  .map-cont {
    margin-bottom: 0;
  }

  /* line 836, media.scss */
  .reg-cont .reg-form {
    width: 290px;
    background: transparent;
  }

  /* line 841, media.scss */
  .reg-cont .reg-input,
  .map-cont .input-map,
  .phone-cont .block-input {
    max-width: 290px;
    width: 290px;
    height: 58px;
    margin-bottom: 20px;
  }

  /* line 850, media.scss */
  .reg-cont .reg-input input,
  .phone-cont .block-input input {
    font-size: 16px;
    line-height: 19px;
  }

  /* line 856, media.scss */
  .reg-cont .reg-form button,
  .map-cont .map-form button,
  .phone-cont .form-phone button,
  .reg-one__link,
  .finish-block__link,
  .cont-form__button,
  .control-item__link {
    width: 290px;
    height: 48px;
    font-size: 14px;
    line-height: 17px;
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  /* line 873, media.scss */
  .reg-cont__text,
  .map-cont__text,
  .phone-cont__text {
    font-size: 14px;
    line-height: 21px;
  }

  /* line 880, media.scss */
  .cont-form__button,
  .control-item__link {
    width: 240px;
  }

  /* line 885, media.scss */
  .input-block {
    width: 240px;
    height: 48px;
  }

  /* line 890, media.scss */
  .input-block__end {
    font-size: 12px;
  }

  /* line 894, media.scss */
  .block-col__sim {
    width: 20px;
    height: 20px;
  }

  /* line 899, media.scss */
  .block-col__text {
    font-size: 24px;
    line-height: 28px;
  }

  /* line 904, media.scss */
  .reg-cont__title,
  .map-cont__title,
  .phone-cont__title,
  .reg-one__title {
    font-size: 18px;
    line-height: 21px;
  }

  /* line 912, media.scss */
  .reg-one__title {
    margin-bottom: 0;
  }

  /* line 916, media.scss */
  .reg-cont__quest,
  .phone-cont__quest {
    font-size: 14px;
    line-height: 17px;
  }

  /* line 922, media.scss */
  .block-phone__text, .map-block__text, .reg-block__text {
    font-size: 10px;
    line-height: 15px;
    padding: 0 15px 50px;
  }

  /* line 928, media.scss */
  .footer.reg {
    display: block;
    -webkit-box-shadow: 0px 0px 60px rgba(0, 0, 0, 0.16);
    box-shadow: 0px 0px 60px rgba(0, 0, 0, 0.16);
    border-radius: 0px;
  }

  /* line 934, media.scss */
  .map-cont .map-form__img-block {
    width: 90%;
    height: 250px;
  }

  /* line 939, media.scss */
  .reg-block.login {
    padding-bottom: 0px;
  }
  /* line 942, media.scss */
  .reg-block.login .reg-cont {
    margin-bottom: 0;
  }

  /* line 947, media.scss */
  .one-cont__text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  /* line 952, media.scss */
  .two-cont__info-block {
    width: 100%;
  }

  /* line 956, media.scss */
  .two-cont__item-sentence,
  .two-cont__item-sentence:nth-child(4) {
    margin-left: 0;
    width: 250px;
    margin: 0 10px 40px;
  }

  /* line 963, media.scss */
  .reg-one .block-icon {
    display: none;
  }

  /* line 967, media.scss */
  .reg-one__block-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 290px;
  }

  /* line 972, media.scss */
  .reg-one .block-number,
  .reg-one .block-text {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    margin-bottom: 0;
  }

  /* line 979, media.scss */
  .reg-one .block-text__item {
    text-align: left;
    max-width: auto;
    margin-bottom: 20px;
  }

  /* line 985, media.scss */
  .reg-one .block-text__text {
    max-width: 230px;
    font-size: 14px;
    line-height: 18px;
  }

  /* line 991, media.scss */
  .reg-one .block-text__title {
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 5px;
  }

  /* line 997, media.scss */
  .reg-one .block-number__number {
    width: 28px;
    height: 28px;
  }

  /* line 1002, media.scss */
  .reg-one .block-number__number span {
    width: 20px;
    height: 20px;
  }

  /* line 1007, media.scss */
  .reg-one .block-number {
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    margin-right: 15px;
  }

  /* line 1012, media.scss */
  .reg-one .block-number__number:nth-child(2) {
    margin-top: 50px;
    margin-bottom: 70px;
  }

  /* line 1017, media.scss */
  .reg-one .block-number::before {
    width: 2px;
    height: 100%;
    margin-top: 0;
    top: 0;
    left: 50%;
    margin-left: -1px;
  }

  /* line 1026, media.scss */
  .reg-two .history-block {
    display: none;
  }

  /* line 1030, media.scss */
  .reg-two .cont-form .info-block__title.active {
    margin-bottom: 30px;
  }

  /* line 1034, media.scss */
  .reg-two .cont-form .info-block__input-block,
  .reg-two .cont-form .block-input.select,
  .reg-two .cont-form__btn {
    width: 240px;
    height: 58px;
  }

  /* line 1041, media.scss */
  .reg-two .cont-form__btn {
    margin-bottom: 50px;
  }

  /* line 1045, media.scss */
  .block-input.select::before {
    height: 54px;
  }

  /* line 1049, media.scss */
  .reg-two .cont-form .block-input.select .block-input__select,
  .reg-two .cont-form .info-block__input-block input,
  .reg-two .cont-form .attention-block__title {
    font-size: 16px;
    line-height: 20px;
  }

  /* line 1056, media.scss */
  .reg-two .cont-form .attention-block__text {
    font-size: 13px;
    line-height: 18px;
  }

  /* line 1061, media.scss */
  .reg-two .cont-form__attention-block {
    width: 260px;
  }

  /* line 1065, media.scss */
  .reg-two .cont-form .info-block__title {
    font-size: 16px;
    line-height: 20px;
  }

  /* line 1070, media.scss */
  .reg-two .cont-form__number p {
    width: 20px;
    height: 20px;
    font-size: 12px;
  }

  /* line 1076, media.scss */
  .reg-two .cont-form__number {
    margin-right: 20px;
  }

  /* line 1080, media.scss */
  .reg-two .cont-form__number.active {
    width: 28px;
    height: 28px;
    margin-left: 5px;
  }

  /* line 1086, media.scss */
  .reg-two {
    padding: 0 15px;
  }

  /* line 1090, media.scss */
  .reg-two .cont-form .info-block__title.active {
    font-size: 20px;
    line-height: 25px;
    margin-bottom: 16px;
  }

  /* line 1096, media.scss */
  .reg-two .cont-form .info-block__text {
    font-size: 14px;
    line-height: 18px;
    margin-bottom: 24px;
    max-width: 240px;
  }

  /* line 1103, media.scss */
  .reg-two .cont-form .input-block__text {
    font-size: 13px;
  }

  /* line 1107, media.scss */
  .reg-two .cont-form .info-block__input-block.foto .input-block__text,
  .input-block__block-img {
    display: none;
  }

  /* line 1112, media.scss */
  .reg-two .cont-form__attention-block {
    width: 240px;
    padding: 15px;
  }

  /* line 1117, media.scss */
  .reg-two .cont-form .info-block__title {
    margin-top: 5px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  /* line 1123, media.scss */
  .reg-two .cont-form__number {
    width: 28px;
    height: 28px;
    margin-left: 5px;
  }

  /* line 1129, media.scss */
  .reg-two .cont-form .info-block__input-block.foto {
    width: 200px;
    height: 200px;
    margin: 0 auto 24px;
  }

  /* line 1135, media.scss */
  .reg-two .cont-form .block-checkbox .block-check {
    width: 240px;
  }

  /* line 1139, media.scss */
  .reg-two .block-jobs__item {
    width: 100%;
    padding: 20px;
  }

  /* line 1144, media.scss */
  .reg-two .block-jobs__title {
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 5px;
  }

  /* line 1150, media.scss */
  .reg-two .block-jobs__text {
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 16px;
  }

  /* line 1156, media.scss */
  .reg-two .block-jobs__link {
    width: 100%;
    max-width: 250px;
    height: 48px;
  }

  /* line 1162, media.scss */
  .reg-two__title,
  .finish-block__title {
    font-size: 20px;
    line-height: 25px;
    margin-bottom: 16px;
  }

  /* line 1168, media.scss */
  .reg-two__text,
  .finish-block__text {
    font-size: 14px;
    line-height: 18px;
    margin-bottom: 0;
  }

  /* line 1175, media.scss */
  .finish-block__text {
    margin-bottom: 24px;
    max-width: 100%;
    width: 100%;
  }

  /* line 1181, media.scss */
  .input-radio .label-radio__title {
    font-size: 16px;
    line-height: 20px;
  }

  /* line 1186, media.scss */
  .input-radio .label-radio__text {
    font-size: 12px;
    line-height: 16px;
  }

  /* line 1191, media.scss */
  .input-radio .label-radio__text-block {
    max-width: 200px;
  }

  /* line 1195, media.scss */
  .text-login01 {
    max-width: 150px;
    font-size: 14px;
    line-height: 18px;
  }

  /* line 1201, media.scss */
  .reg-two .cont-form .info-block__input-block.width,
  .reg-two .cont-form .info-block__input-block.textarea {
    width: 100%;
    max-width: 240px;
  }

  /* line 1207, media.scss */
  .reg-two .cont-form .input-block__text.two {
    font-size: 12px;
  }

  /* line 1211, media.scss */
  .input-radio__title {
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 16px;
  }

  /* line 1217, media.scss */
  .input-radio .label-radio__fake {
    width: 26px;
    height: 26px;
  }

  /* line 1222, media.scss */
  .input-radio .label-radio__fake::before {
    width: 16px;
    height: 16px;
  }

  /* line 1227, media.scss */
  .reg-two .cont-form .block-input.select .block-input__text {
    font-size: 12px;
  }

  /* line 1231, media.scss */
  .block-input.select::before {
    z-index: 5;
  }

  /* line 1235, media.scss */
  .reg-two .cont-form .info-block__input-block.textarea textarea {
    font-size: 14px;
    line-height: 18px;
  }

  /* line 1240, media.scss */
  .reg-two .cont-form .input-block__text.two {
    font-size: 11px;
  }

  /* line 1244, media.scss */
  .finish-block {
    width: 100%;
    padding: 40px 15px;
    text-align: center;
    height: 100vh;
    background: url(../img/form-icon/end-bg.png) no-repeat center 90%;
    background-size: 90%;
  }

  /* line 1253, media.scss */
  .mob-menu.reg .header-cont__entrance-block.employer {
    margin-left: 0;
  }

  /* line 1257, media.scss */
  .control-login, .sms {
    display: none;
  }

  /* line 1262, media.scss */
  .mob-menu.reg .control-login, .mob-menu.reg .sms {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0;
  }
  /* line 1267, media.scss */
  .mob-menu.reg .sms {
    margin-left: 10px;
  }
  /* line 1271, media.scss */
  .mob-menu.reg .block-ic {
    margin-top: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  /* line 1278, media.scss */
  .calendar-block__text {
    max-width: 240px;
  }

  /* line 1282, media.scss */
  .calendar-block .day-block,
  .calendar-block .block-select {
    width: 240px;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }

  /* line 1289, media.scss */
  .calendar-block .day-block__item {
    margin-bottom: 5px;
    margin-right: 5px;
  }

  /* line 1294, media.scss */
  .control-block__text {
    max-width: 290px;
  }

  /* line 1298, media.scss */
  .control-block {
    padding: 40px 15px;
  }

  /* line 1302, media.scss */
  .control-item__item {
    width: 100%;
    padding: 15px;
    margin-right: 0;
    margin-bottom: 10px;
  }

  /* line 1309, media.scss */
  .control-item__title,
  .summary-block__position {
    font-size: 16px;
    line-height: 20px;
  }

  /* line 1315, media.scss */
  .control-item__text,
  .summary-block__red {
    font-size: 14px;
    line-height: 18px;
  }

  /* line 1321, media.scss */
  .summary-block__red {
    margin-bottom: 10px;
  }

  /* line 1325, media.scss */
  .summary-block__title {
    font-size: 20px;
    line-height: 24px;
  }

  /* line 1330, media.scss */
  .summary-block__item {
    width: 100%;
    max-width: 450px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 15px;
    margin-right: 0;
  }

  /* line 1339, media.scss */
  .summary-block__link {
    margin-top: 10px;
    width: 100%;
    max-width: 450px;
  }

  /* line 1345, media.scss */
  .question-cont .block-quest .block-aues {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  /* line 1349, media.scss */
  .question-cont .block-quest .block-aues .block-quest__title-block {
    width: 100%;
  }

  /* line 1353, media.scss */
  .question-cont .block-quest .title-block__title {
    font-size: 28px;
    line-height: 32px;
  }

  /* line 1358, media.scss */
  .question-cont .block-quest .title-block__text {
    font-size: 16px;
    line-height: 20px;
    max-width: 100%;
  }

  /* line 1364, media.scss */
  .question-cont__title {
    font-size: 22px;
    line-height: 27px;
    margin-bottom: 30px;
  }

  /* line 1370, media.scss */
  .question-cont .block-quest .block-aues {
    margin-bottom: 0;
  }

  /* line 1374, media.scss */
  .question-cont .block-quest .block-aues .block-quest__title-block {
    padding: 15px;
    margin-bottom: 20px;
  }

  /* line 1379, media.scss */
  .question-cont .block-quest .title-block__title {
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 10px;
  }

  /* line 1385, media.scss */
  .question-cont .block-quest .title-block__text {
    font-size: 13px;
    line-height: 18px;
  }

  /* line 1390, media.scss */
  .question-cont .block-quest .quest-item__quest {
    height: auto;
    padding: 5px 0;
  }

  /* line 1395, media.scss */
  .question-cont .block-quest__quest-item {
    padding: 0 5px;
  }

  /* line 1399, media.scss */
  .question-cont .block-quest .quest-item__text {
    padding: 0 5px;
  }

  /* line 1403, media.scss */
  .question-cont .block-quest .quest-item__text {
    font-size: 14px;
  }

  /* line 1407, media.scss */
  .premium-cont .sentence-item__term {
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 10px;
  }

  /* line 1413, media.scss */
  .premium-cont .sentence-item__price {
    font-size: 28px;
    line-height: 36px;
  }

  /* line 1418, media.scss */
  .premium-cont .sentence-item__price-text {
    font-size: 12px;
    line-height: 20px;
    margin-bottom: 20px;
  }

  /* line 1424, media.scss */
  .premium-cont .sentence-item__text {
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 10px;
  }

  /* line 1430, media.scss */
  .premium-cont .sentence-item__link {
    font-size: 16px;
    line-height: 19px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    height: 48px;
  }

  /* line 1440, media.scss */
  .premium-cont .sentence-item {
    padding: 20px 15px;
  }

  /* line 1444, media.scss */
  .prem-cont__title {
    font-size: 22px;
    line-height: 27px;
    margin-bottom: 30px;
  }

  /* line 1450, media.scss */
  .prem-cont__link {
    width: 130px;
    height: 60px;
    margin-bottom: 20px;
  }

  /* line 1456, media.scss */
  .prem-cont__link-block {
    margin-bottom: 30px;
  }

  /* line 1460, media.scss */
  .block-in {
    max-width: 290px;
  }

  /* line 1464, media.scss */
  .prem-cont .card-input,
  .prem-cont .card-input.two {
    width: 70px;
    max-width: 290px;
    height: 64px;
    margin-right: 10px;
  }

  /* line 1472, media.scss */
  .prem-cont .card-input.three {
    margin-right: 70px;
  }

  /* line 1476, media.scss */
  .prem-cont .card-input:last-child {
    margin-right: 0;
  }

  /* line 1480, media.scss */
  .prem-cont .card-block .card-check .text-login01 {
    font-size: 14px;
    line-height: 18px;
  }

  /* line 1485, media.scss */
  .prem-cont .card-block .card-check .style-login01 {
    width: 26px;
    height: 26px;
  }

  /* line 1490, media.scss */
  .prem-cont .info-block__price-title {
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 10px;
  }

  /* line 1496, media.scss */
  .prem-cont .info-block__price {
    font-size: 28px;
    line-height: 32px;
    margin-bottom: 10px;
  }

  /* line 1502, media.scss */
  .prem-cont .info-block {
    width: 100%;
    max-width: 290px;
    padding: 15px;
    height: auto;
  }

  /* line 1509, media.scss */
  .popap-one {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    padding: 15px;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding-top: 50px;
  }

  /* line 1519, media.scss */
  .popap-one__quest-block {
    margin-right: 0;
  }

  /* line 1523, media.scss */
  .popap-one__title {
    margin-bottom: 30px;
    font-size: 22px;
    line-height: 27px;
  }

  /* line 1529, media.scss */
  .popap-one__quest-block {
    height: auto;
    margin-bottom: 20px;
    width: 100%;
    max-width: 290px;
  }

  /* line 1536, media.scss */
  .popap-one .quest-block__quest {
    font-size: 18px;
    line-height: 24px;
  }

  /* line 1541, media.scss */
  .popap-one .quest-block__text {
    font-size: 14px;
    line-height: 18px;
  }

  /* line 1546, media.scss */
  .popap-one .quest-block__link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 100%;
    height: 48px;
    font-size: 14px;
    line-height: 24px;
    padding: 0;
  }

  /* line 1557, media.scss */
  .popap-one {
    width: auto;
  }

  /* line 1561, media.scss */
  .block-bg {
    overflow: scroll;
  }

  /* line 1565, media.scss */
  .popap-two .block-item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  /* line 1570, media.scss */
  .popap-two .block-item__item {
    width: 260px;
    height: 60px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }

  /* line 1577, media.scss */
  .popap-two .block-item__img-block {
    width: 50px;
    height: 50px;
    margin-top: 5px;
    margin-left: 2px;
  }

  /* line 1584, media.scss */
  .popap-two .block-item__item.one .block-item__img-block {
    background: url(../img/popap-icon/icon-1.svg) no-repeat center;
    background-size: 100% 100%;
  }

  /* line 1589, media.scss */
  .popap-two .block-item__item.two .block-item__img-block {
    background: url(../img/popap-icon/icon-2.svg) no-repeat center;
    background-size: 100% 100%;
  }

  /* line 1594, media.scss */
  .popap-two .block-item__item.three .block-item__img-block {
    background: url(../img/popap-icon/icon-3.svg) no-repeat center;
    background-size: 100% 100%;
  }

  /* line 1599, media.scss */
  .popap-two .block-item__item.five .block-item__img-block {
    background: url(../img/popap-icon/icon-4.svg) no-repeat center;
    background-size: 100% 100%;
  }

  /* line 1604, media.scss */
  .popap-two .block-item__item.six .block-item__img-block {
    background: url(../img/popap-icon/icon-5.svg) no-repeat center;
    background-size: 100% 100%;
  }

  /* line 1609, media.scss */
  .popap-two .block-item__position {
    width: 200px;
    font-size: 18px;
    line-height: 24px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  /* line 1618, media.scss */
  .popap-two__quest {
    font-size: 18px;
    line-height: 24px;
    width: 100%;
    text-align: left;
  }

  /* line 1625, media.scss */
  .popap-two__title {
    font-size: 22px;
    line-height: 28px;
    max-width: 260px;
    text-align: left;
  }

  /* line 1632, media.scss */
  .popap-two__link {
    width: 260px;
    height: 48px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  /* line 1640, media.scss */
  .popap-two {
    width: 100%;
    max-width: 290px;
    padding-left: 5px;
    padding-right: 5px;
  }

  /* line 1647, media.scss */
  .profil-rabotnika .container {
    padding: 40px 0 0;
  }

  /* line 1651, media.scss */
  .profil-rabotnika .nine-block .block-title,
  .profil-rabotnika .comment-block .top-block {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  /* line 1656, media.scss */
  .profil-right .block-two {
    display: none;
  }

  /* line 1660, media.scss */
  .comment-form, .form-nigative {
    padding: 15px;
    margin-left: 0;
    top: 0;
    left: 0;
    overflow-y: auto;
    height: 680px;
  }

  /* line 1669, media.scss */
  .comment-form__title,
  .form-nigative__title {
    font-size: 24px;
    line-height: 30px;
  }

  /* line 1675, media.scss */
  .comment-form__link,
  .form-nigative__link {
    top: 15px;
    right: 15px;
  }

  /* line 1681, media.scss */
  .control-menu.two {
    display: none;
  }

  /* line 1685, media.scss */
  .kandidat-block__title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  /* line 1689, media.scss */
  .kandidat-block .kandidat-item:nth-child(2) {
    margin-top: 0;
  }

  /* line 1693, media.scss */
  .kandidat-block .kandidat-item .block-link {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  /* line 1697, media.scss */
  .kandidat-block .kandidat-item .block-link__link:first-child {
    margin-bottom: 10px;
  }

  /* line 1701, media.scss */
  .kandidat-block.two .kandidat-item .block-link {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
  }

  /* line 1705, media.scss */
  .kandidat-block.two .kandidat-item .block-link__link:first-child {
    margin-bottom: 0;
  }

  /* line 1710, media.scss */
  .chat-block .block-right {
    display: none;
  }

  .about-str {
    padding: 50px 0;
  }

  .package-item {
    width: 60%;
  }

  .package-cont__title {
    font-size: 24px;
    line-height: 30px;
  }

  .package-cont__text {
    font-size: 14px;
    line-height: 20px;
  }

  .package-item__title {
    font-size: 16px;
    min-height: 70px;
  }

  .package-item__text {
    font-size: 14px;
    line-height: 18px;
  }

  .new1-link {
    margin-bottom: 10px;
    height: 40px;
    padding: 0 10px;
    font-size: 14px;
  }

  .new1-title,
  .new2-title, .new3-title, .new4-title, .new5-title {
    font-size: 32px;
    line-height: 35px;
  }

  .one-new {
    margin-top: 0;
    min-height: 50vh;
  }

  .new2-text {
    width: 100%;
  }

  .new2-cont, .new3-cont, .new4-cont {
    padding: 50px 0;
  }

  .new3-link {
    font-size: 22px;
  }

  .new3-text {
    font-size: 16px;
  }

  .block-text-item {
    margin-bottom: 10px;
  }

  .new4-item {
    padding: 20px 10px;
    width: 31%;
  }

  .new4-title-item {
    font-size: 16px;
  }

  .new4-text-item {
    font-size: 14px;
  }

  .new5-cont {
    padding: 50px 0;
    width: 95%;
  }

  .new5-people {
    padding: 20px 10px;
  }

  .new8-item {
    width: 100%;
  }

  .new8-title2 {
    font-size: 19px;
    line-height: 24px;
  }

  .new7-item {
    width: 45%;
  }

  .block-piople {
    flex-direction: column;
  }

  .block-piople .block-img {
    margin-right: 0;
    margin-bottom: 30px;
    width: 150px;
    height: 150px;
  }

  .video-link {
    margin-left: auto;
    margin-right: auto;
  }

  .block-video-mod .cont-video {
    width: 100%;
    max-width: 90%;
  }

  .block-video-mod .cont-video video {
    height: 300px;
  }

  .block-piople .block-text {
    max-width: 100%;
  }
}
@media (max-width: 575px) {
  /* line 1716, media.scss */
  .two-cont__sentence-block {
    width: 290px !important;
    height: 390px;
  }

  /* line 1721, media.scss */
  .two-cont__sentence-block .slick-slide {
    margin: 0 7px !important;
    width: 290px !important;
  }

  /* line 1726, media.scss */
  .three-cont__item-three,
  .three-cont__item-three:last-child {
    background-size: 100% 100%;
  }

  /* line 1731, media.scss */
  .slick-list {
    overflow: visible;
    overflow-y: hidden;
    height: 100%;
    width: 500px !important;
  }

  /* line 1738, media.scss */
  .slick-track {
    height: 100%;
  }

  /* line 1742, media.scss */
  .reg-two .cont-form .block-checkbox__title {
    max-width: 240px;
  }

  /* line 1746, media.scss */
  .sentence-block {
    width: 100% !important;
    max-width: 575px;
    overflow: hidden;
    height: 430px;
  }
  /* line 1752, media.scss */
  .sentence-block .slick-active {
    margin-right: 15px !important;
  }
  /* line 1756, media.scss */
  .sentence-block .slick-list {
    width: 220px !important;
    overflow: visible;
  }

  /* line 1762, media.scss */
  .premium-cont .sentence-item {
    width: 220px !important;
    margin-right: 0;
  }

  /* line 1767, media.scss */
  .premium-cont__title {
    font-size: 22px;
    line-height: 27px;
    margin-bottom: 30px;
  }

  /* line 1773, media.scss */
  .premium-cont .prem-form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
  }

  /* line 1778, media.scss */
  .premium-cont .input-prem {
    width: 100%;
    height: 64px;
    max-width: 290px;
  }

  /* line 1784, media.scss */
  .premium-cont .prem-form button {
    margin-left: 0;
    margin-top: 16px;
    width: 100%;
    height: 48px;
    max-width: 290px;
  }

  /* line 1792, media.scss */
  .prem-cont__link-block {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }

  /* line 1796, media.scss */
  .prem-cont__link {
    margin-right: 0;
  }

  /* line 1800, media.scss */
  .two-cont__sentence-block {
    height: 300px;
  }

  /* line 1804, media.scss */
  .profil-rabotnika .block-five .five-left {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  /* line 1808, media.scss */
  .profil-rabotnika .block-one,
  .profil-rabotnika .block-two,
  .profil-rabotnika .block-three,
  .profil-rabotnika .block-four,
  .profil-rabotnika .five-left,
  .profil-rabotnika .block-six,
  .profil-rabotnika .seven-block,
  .profil-rabotnika .eight-block,
  .profil-rabotnika .nine-block {
    padding: 20px 15px;
  }

  /* line 1820, media.scss */
  .profil-rabotnika .block-one .block-info {
    padding-top: 20px;
  }

  /* line 1824, media.scss */
  .profil-rabotnika .block-one .block-info__pos {
    top: 0;
    right: auto;
    left: 110px;
    font-size: 14px;
  }

  /* line 1831, media.scss */
  .profil-rabotnika .block-one .block-info__name {
    font-size: 18px;
    line-height: 24px;
  }
  /* line 1835, media.scss */
  .profil-rabotnika .block-one .block-info__name img {
    position: absolute;
    top: 0;
    right: 0;
  }

  /* line 1842, media.scss */
  .kandidat-block .photo-block .block-info__name {
    font-size: 18px;
    line-height: 24px;
  }

  /* line 1847, media.scss */
  .profil-rabotnika .block-one .block-info__position,
  .kandidat-block .photo-block .block-info__position {
    font-size: 14px;
    margin-bottom: 5px;
  }

  /* line 1854, media.scss */
  .kandidat-block .photo-block .block-address {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
  }

  /* line 1859, media.scss */
  .profil-rabotnika .block-one .block-info__city,
  .kandidat-block .photo-block .block-address__text {
    font-size: 14px;
  }

  /* line 1865, media.scss */
  .profil-rabotnika .block-one,
  .kandidat-item {
    position: relative;
  }

  /* line 1870, media.scss */
  .profil-rabotnika .block-one .block-info__name,
  .profil-rabotnika .block-one .block-info__position,
  .kandidat-block .photo-block .block-info__name,
  .kandidat-block .photo-block .block-info__position {
    padding-left: 110px;
  }

  /* line 1877, media.scss */
  .kandidat-block .photo-block .block-info__position {
    margin-bottom: 40px;
  }

  /* line 1881, media.scss */
  .profil-rabotnika .block-one .img-block,
  .kandidat-block .photo-block .block-img {
    position: absolute;
    top: 20px;
    left: 20px;
    width: 90px;
    height: 90px;
    margin-right: 0;
  }

  /* line 1891, media.scss */
  .kandidat-block .kandidat-item {
    padding: 20px;
  }

  /* line 1895, media.scss */
  .profil-rabotnika .block-one .block-price__text {
    font-size: 18px;
    margin-right: 20px;
  }
  /* line 1899, media.scss */
  .profil-rabotnika .block-one .block-price__text span {
    font-size: 14px;
  }

  /* line 1904, media.scss */
  .profil-rabotnika .block-one__title,
  .profil-rabotnika .block-two__title,
  .profil-rabotnika .block-three__title,
  .profil-rabotnika .block-four__title,
  .profil-rabotnika .five-left__title,
  .profil-rabotnika .block-six__title,
  .profil-rabotnika .seven-block__title,
  .profil-rabotnika .eight-block__title,
  .profil-rabotnika .nine-block__title {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 15px;
  }

  /* line 1918, media.scss */
  .profil-rabotnika .profil-left .block-two .info-item__title {
    font-size: 13px;
    line-height: 15px;
  }

  /* line 1923, media.scss */
  .profil-rabotnika .profil-left .block-two .info-item__text {
    font-size: 18px;
    line-height: 24px;
  }

  /* line 1928, media.scss */
  .kandidat-block .photo-block .price-item__text,
  .kandidat-block .photo-block .date-item__text {
    font-size: 18px;
    line-height: 24px;
  }
  /* line 1932, media.scss */
  .kandidat-block .photo-block .price-item__text span,
  .kandidat-block .photo-block .date-item__text span {
    font-size: 14px;
  }

  /* line 1937, media.scss */
  .kandidat-block.two .block-link .summary-block__red {
    font-size: 14px;
    max-width: 190px;
    margin-bottom: 0;
  }

  /* line 1943, media.scss */
  .kandidat-block .photo-block .price-item__title {
    font-size: 13px;
    line-height: 15px;
  }

  /* line 1948, media.scss */
  .profil-rabotnika .profil-left .block-two__text {
    font-size: 14px;
    line-height: 20px;
  }

  /* line 1953, media.scss */
  .profil-rabotnika .block-three__text,
  .profil-rabotnika .block-five .five-left__txt,
  .profil-rabotnika .seven-block__text {
    font-size: 14px;
    margin-bottom: 12px;
  }

  /* line 1960, media.scss */
  .profil-rabotnika .block-four .left-item {
    margin-bottom: 10px;
  }

  /* line 1964, media.scss */
  .profil-rabotnika .block-four .left-item__text,
  .profil-rabotnika .block-five .five-item__text {
    font-size: 14px;
  }

  /* line 1969, media.scss */
  .profil-rabotnika .block-six__day {
    width: 32px;
    height: 32px;
    font-size: 14px;
  }

  /* line 1975, media.scss */
  .profil-rabotnika .block-six__day.v:last-child {
    margin-right: 0;
  }

  /* line 1979, media.scss */
  .profil-rabotnika .seven-block__subTitle {
    font-size: 16px;
    line-height: 24px;
  }

  /* line 1984, media.scss */
  .profil-rabotnika .seven-block__link {
    font-size: 14px;
    line-height: 17px;
  }

  /* line 1989, media.scss */
  .profil-rabotnika .eight-block__text {
    font-size: 13px;
    line-height: 15px;
  }

  /* line 1994, media.scss */
  .profil-rabotnika .eight-block__schet {
    font-size: 18px;
  }

  /* line 1998, media.scss */
  .profil-rabotnika .eight-item__link span {
    font-size: 18px;
  }

  /* line 2002, media.scss */
  .profil-rabotnika .eight-item__link {
    font-size: 18px;
  }

  /* line 2006, media.scss */
  .profil-rabotnika .eight-item .cont-item__title {
    font-size: 16px;
    line-height: 20px;
  }

  /* line 2011, media.scss */
  .profil-rabotnika .eight-item .cont-item__city {
    font-size: 12px;
    line-height: 16px;
  }

  /* line 2016, media.scss */
  .profil-rabotnika .eight-item .cont-item__text {
    font-size: 14px;
    line-height: 19px;
  }

  /* line 2021, media.scss */
  .profil-rabotnika .eight-item .cont-item__subTitle {
    font-size: 15px;
    line-height: 20px;
  }

  /* line 2026, media.scss */
  .profil-rabotnika .eight-item .cont-item__li {
    font-size: 14px;
    line-height: 19px;
  }

  /* line 2030, media.scss */
  .profil-rabotnika .block-one .block-info__position {
    margin-bottom: 25px;
  }

  /* line 2034, media.scss */
  .kandidat-block .kandidat-item__verefication {
    top: 73px;
    right: auto;
    left: 130px;
    font-size: 13px;
    line-height: 15px;
  }

  .instruction-item .step-item {
    width: 100%;
  }

  .instruction-item__text2 {
    width: 100%;
    padding: 0;
  }

  .instruction-item .block-img {
    width: 280px;
    height: 280px;
  }

  .package-item {
    width: 100%;
  } 

  .new4-item {
    width: 100%;
    min-height: auto;
    height: max-content;
  }

  .new1-title, .new2-title, .new3-title, .new4-title, .new5-title {
    font-size: 24px;
  }

  .new5-title {
    margin-bottom: 50px;
  }

  .new5-position {
    font-size: 22px;
    line-height: 25px;
  }

  .new6-cont .new6-title,
  .new8-title,
  .new7-title {
    font-size: 24px;
    line-height: 30px;
  }

  .new6-cont .new6-title-text {
    font-size: 20px;
    line-height: 26px;
  }

  .new6-item-title {
    font-size: 18px;
    line-height: 23px;
  }

  .item-new6 {
    max-width: 48%;
  }

  .new6-item-title2 {
    font-size: 16px;
    line-height: 20px;
  }

  .six-new,
  .eight-new,
  .new7-cont {
    padding: 50px 0;
  }

  .new8-block {
    width: 100%;
  }

  .new8-item {
    width: 48%;
  }

  .new7-number {
    font-size: 32px;
    line-height: 35px;
  }

  .new7-title-item {
    font-size: 18px;
    line-height: 22px;
  }

  .new7-text {
    font-size: 14px;
    line-height: 20px;
  }

  .new7-text {
    max-width: 100%;
  }

  .new1-form-title {
    text-align: center;
    font-size: 24px;
    line-height: 30px;
  }

  .new1-form-text2 {
    font-size: 14px;
    line-height: 18px;
  }

  .new1-form .block-input-text, .new7-cont .block-input-text {
    font-size: 14px;
  }

  .new1-form input, .new7-cont input {
    font-size: 14px;
  }

  .form-new-title {
    font-size: 24px;
    line-height: 30px;
  }

  .form-block-input input, .form-block-input select, .form-block-input textarea {
    font-size: 14px;
  }

  .form-block-input input::placeholder, .form-block-input select::placeholder, .form-block-input textarea::placeholder {
    font-size: 12px;
  }

  .page-input {
    margin-bottom: 10px;
  }

  .form-block-input label {
    width: auto;
  }

  .politic-title {
    font-size: 22px;
    line-height: 30px;
  }

  .politic-text2 {
    padding-left: 0;
  }

  .politic-text,
  .politic-text2,
  .politic-text3 {
    font-size: 14px;
    line-height: 20px;
  }

  .politic-text.three {
    margin-left: 0;
  }

  .politic-text.two {
    margin-left: 0;
  }

  .block-piople .block-text__title,
  .cont-video__title {
    font-size: 24px;
    text-align: center;
  }

  .block-piople .block-text__text {
    text-align: center;
  }

  .block-piople .block-icon {
    justify-content: center;
  }

  .block-piople .block-icon__link {
    margin-right: 5px;
    margin-left: 5px;
  }

  .video-link {
    margin-top: 10px;
  }

  .rabotnik-cont .rabotnik-text {
    font-size: 14px;
    line-height: 20px;
  }

  .rabotnic-ul {
    margin-left: 20px;
  }

  .container.rabotnik-cont {
    padding: 50px 15px;
  }

  .rabotnic-item {
    margin-bottom: 10px;
  }

  .block-video-mod .cont-video video {
    height: 200px;
  }

  .block-video-mod .cont-video {
    padding: 15px;
  }

  .video-exit {
    font-size: 20px;
    top: 10px;
    right: 10px;
  }
}

@media (max-width: 450px) {
  .item-new6 {
    max-width: 100%;
  }

  .new8-item {
    width: 85%;
  }

  .new7-item {
    width: 100%;
  }
}

@media (max-width: 370px) {
  .item-new6 {
    max-width: 100%;
  }

  .new8-item {
    width: 100%;
  }

}

/*# sourceMappingURL=media.css.map */